# 2.Series

In [1]:
import pandas as pd
import numpy as np

## 2-1.Series 생성하기
* Numpy에서 제공하는 1차원 배열과 유사, 엑셀에서 한 컬럼
* Series = 1차원 배열의 값(data) + 행 인덱스(row index)

In [2]:
# 1. value값만 주기
# index를 지정하지 않으면 자동으로 0으로 시작하는 index가 부여됨.
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [4]:
s.shape

(4,)

In [5]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s.values

array([1, 2, 3, 4])

In [7]:
type(s.values)

numpy.ndarray

In [8]:
s2 = pd.Series([1,2,3,4],dtype = float)
s2

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [9]:
s = pd.Series(np.array([1,2,3,4]))
s

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
# 1~10까지 Series 만들기
pd.Series(range(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
# 2.value값과 index 둘 다 주기
index = [1,2,3,4]
s = pd.Series([10,20,30,40],index=index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [13]:
# 숫자 뿐만 아니라 문자열도 줄 수 있음
index = ['치킨','탕수육','곱창','선지국']
s = pd.Series([16000,18000,25000,10000],index=index)
s

치킨     16000
탕수육    18000
곱창     25000
선지국    10000
dtype: int64

In [14]:
s.index

Index(['치킨', '탕수육', '곱창', '선지국'], dtype='object')

In [15]:
# 3.딕셔너리 형태로 만들기
s = pd.Series({'치킨':16000,'탕수육':18000,'곱창':25000,'선지국':10000})
s

치킨     16000
탕수육    18000
곱창     25000
선지국    10000
dtype: int64

In [16]:
s.name='메뉴'
s

치킨     16000
탕수육    18000
곱창     25000
선지국    10000
Name: 메뉴, dtype: int64

In [17]:
s.index.name = '메뉴명'
s

메뉴명
치킨     16000
탕수육    18000
곱창     25000
선지국    10000
Name: 메뉴, dtype: int64

## 2-2.Series 인덱싱과 슬라이싱

In [18]:
s

메뉴명
치킨     16000
탕수육    18000
곱창     25000
선지국    10000
Name: 메뉴, dtype: int64

In [19]:
# 인덱스 라벨을 이용한 인덱싱 방법
s['치킨'], s.치킨

(16000, 16000)

In [20]:
# 0 인덱스를 통한 인덱싱 방법
s[0]

16000

In [21]:
s[-1],s['선지국'],s.선지국

(10000, 10000, 10000)

In [22]:
# index가 숫자인 경우
t = pd.Series([10,20,30,40],index = ['1','2','3','4'])
t

1    10
2    20
3    30
4    40
dtype: int64

In [23]:
t[1]

20

In [24]:
s

메뉴명
치킨     16000
탕수육    18000
곱창     25000
선지국    10000
Name: 메뉴, dtype: int64

In [25]:
# Fancy 인덱싱
s[['치킨','곱창']]

메뉴명
치킨    16000
곱창    25000
Name: 메뉴, dtype: int64

In [26]:
s[[0,2]]

메뉴명
치킨    16000
곱창    25000
Name: 메뉴, dtype: int64

In [27]:
# Boolean 인덱싱
s <= 17000

메뉴명
치킨      True
탕수육    False
곱창     False
선지국     True
Name: 메뉴, dtype: bool

In [28]:
s[(s>=18000)&(s<=25000)]

메뉴명
탕수육    18000
곱창     25000
Name: 메뉴, dtype: int64

In [29]:
# 슬라이싱 (start:end:step)
# 0 인덱싱으로 슬라이싱 : end 인덱스 -1
s

메뉴명
치킨     16000
탕수육    18000
곱창     25000
선지국    10000
Name: 메뉴, dtype: int64

In [30]:
s[1:3]

메뉴명
탕수육    18000
곱창     25000
Name: 메뉴, dtype: int64

In [31]:
s['탕수육':'곱창']

메뉴명
탕수육    18000
곱창     25000
Name: 메뉴, dtype: int64

## 2-3. Series 데이터 CRUD

In [32]:
# 앞에서부터 데이터 조회하기
s.head(2)

메뉴명
치킨     16000
탕수육    18000
Name: 메뉴, dtype: int64

In [33]:
# 뒤에서부터 데이터 가져오기
s.tail(2)

메뉴명
곱창     25000
선지국    10000
Name: 메뉴, dtype: int64

In [34]:
# 데이터 추가 ( 계란찜 )
s['계란찜']=3000
s

메뉴명
치킨     16000
탕수육    18000
곱창     25000
선지국    10000
계란찜     3000
Name: 메뉴, dtype: int64

In [35]:
# 값이 정해지지 않음 (NaN : Not a Number)
s['감자탕'] = np.NaN
s

메뉴명
치킨     16000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
감자탕        NaN
Name: 메뉴, dtype: float64

In [36]:
s.isnull()

메뉴명
치킨     False
탕수육    False
곱창     False
선지국    False
계란찜    False
감자탕     True
Name: 메뉴, dtype: bool

In [37]:
s.isna()

메뉴명
치킨     False
탕수육    False
곱창     False
선지국    False
계란찜    False
감자탕     True
Name: 메뉴, dtype: bool

In [38]:
# Boolean 인덱싱
s[s.isna()]

메뉴명
감자탕   NaN
Name: 메뉴, dtype: float64

In [39]:
# 비어있지 않은 데이터 찾기
s.notnull()

메뉴명
치킨      True
탕수육     True
곱창      True
선지국     True
계란찜     True
감자탕    False
Name: 메뉴, dtype: bool

In [40]:
s.notna()

메뉴명
치킨      True
탕수육     True
곱창      True
선지국     True
계란찜     True
감자탕    False
Name: 메뉴, dtype: bool

In [41]:
s[s.notna()]

메뉴명
치킨     16000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
Name: 메뉴, dtype: float64

In [42]:
# 값 변경하기
s['치킨']=18000
s

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
감자탕        NaN
Name: 메뉴, dtype: float64

In [43]:
s[0] = 18000
s

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
감자탕        NaN
Name: 메뉴, dtype: float64

In [44]:
# 데이터 삭제
del s['감자탕']
s

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
Name: 메뉴, dtype: float64

In [45]:
## 2-4. Series간의 연산
data = [18000,18000,25000,10000,3000]
index = ['치킨','탕수육','곱창','선지국','계란찜']
s2 = pd.Series(data=data,index=index,dtype=float)
s2

치킨     18000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
dtype: float64

In [46]:
s3=s.copy()
s3

메뉴명
치킨     18000.0
탕수육    18000.0
곱창     25000.0
선지국    10000.0
계란찜     3000.0
Name: 메뉴, dtype: float64

In [47]:
s -s2

메뉴명
치킨     0.0
탕수육    0.0
곱창     0.0
선지국    0.0
계란찜    0.0
dtype: float64

In [48]:
# Scalar와의 연산 (Broadcast)
s +=2000
s

메뉴명
치킨     20000.0
탕수육    20000.0
곱창     27000.0
선지국    12000.0
계란찜     5000.0
Name: 메뉴, dtype: float64

In [49]:
# Aggregation 함수
s.max()

27000.0

In [53]:
s.min()

5000.0

In [54]:
s.sum()

84000.0

In [55]:
s.mean()

16800.0

In [56]:
s.median()

20000.0