# 4. 데이터 파일 읽어오기

## 4-1. CSV 파일
* Comma Seperated Value의 약자, 쉼표로 구분된 파일
* 엑셀보다 CSV가 많이 쓰임

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. URL을 통해 CSV 파일 가져오기
d=pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
# 2. 로컬에 있는 CSV파일 읽어오기

d2=pd.read_csv('korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [5]:
# 3. 엑셀 파일 읽어오기
d3 = pd.read_excel('korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [6]:
# 4. kaggle API로 데이터 가져오기
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 1.5 MB/s eta 0:00:01
Requirement already satisfied: six>=1.10 in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (4.50.2)
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Requirement already satisfied: urllib3 in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from kaggle) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/goyoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests->kaggle) (3.0.4)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 4.8 MB/s eta 0:00:011
Building wheels for collected packages: kaggle, python-slugify
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73053 sha256=7cdcd4dadfaf72f5b597e7ef1a7539e09d3eaae31a9ec7dadf0ecf8cdd435f74
  Stored in directory: /Users/goyoonjae/Library/Caches/pip/wheels/29/da/11/144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
  Building wheel for python-slugify (setup.py) ... done
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6769 sha256=f2c8d40ec9e8e91c8808bcf3f1dcff175512670546e2499c75a47ea0213de648
  Stored in directory: /Users/goyoonjae/Library/Caches/pip/wheels/91/4d/4f/e740a68c215791688c46c4d6251770a570e8dfea91af1acb5c
Successfully built kaggle python-slugify
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-4.0.1 text-unidecode-1.3

In [13]:
# kaggle version
!kaggle --version

Kaggle API 1.5.12

In [14]:
!kaggle competitions download -c titanic

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)

In [15]:
!kaggle datasets download -d imdevskp/corona-virus-report

Downloading corona-virus-report.zip to /Users/goyoonjae/20_Pandas
 95%|████████████████████████████████████  | 18.0M/19.0M [00:01<00:00, 12.2MB/s]
100%|██████████████████████████████████████| 19.0M/19.0M [00:01<00:00, 12.2MB/s]