# 9. 자료형 변환하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = pd.read_csv('korean-idol.csv')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [3]:
d.info

<bound method DataFrame.info of       이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442>

# 9.1 데이터 타입 변환하기

In [4]:
# 키 : float -> int
d['키'].dtype

dtype('float64')

In [5]:
d['키'].fillna(-1,inplace=True)
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26   -1.0   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09   -1.0   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [6]:
d['키'] = d['키'].astype(int)

In [7]:
d['생년월일'].dtype

dtype('O')

In [8]:
# object -> datetime
d['생년월일']=pd.to_datetime(d['생년월일'])
d['생년월일']

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

In [9]:
d['생년월일'].dt.year

0     1995
1     1988
2     1996
3     1995
4     1995
5     1997
6     1995
7     1998
8     1992
9     1994
10    1989
11    1997
12    1995
13    1995
14    1993
Name: 생년월일, dtype: int64

In [10]:
d['생년월일'].dt.month

0     10
1      8
2     12
3     12
4      7
5      9
6      8
7      8
8     12
9      3
10     3
11     3
12     7
13     6
14     3
Name: 생년월일, dtype: int64

In [11]:
d['생년월일'].dt.day

0     13
1     18
2     10
3     30
4     23
5      1
6      9
7     26
8      4
9     22
10     9
11    30
12    21
13     8
14     9
Name: 생년월일, dtype: int64

In [12]:
d['생일_년도']=d['생년월일'].dt.year
d['생일_월']=d['생년월일'].dt.month
d['생일_일']=d['생년월일'].dt.day
d

      이름     그룹      소속사  성별       생년월일    키 혈액형   브랜드평판지수  생일_년도  생일_월  생일_일
0     지민  방탄소년단      빅히트  남자 1995-10-13  173   A  10523260   1995    10    13
1   지드래곤     빅뱅       YG  남자 1988-08-18  177   A   9916947   1988     8    18
2   강다니엘    NaN      커넥트  남자 1996-12-10  180   A   8273745   1996    12    10
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178  AB   8073501   1995    12    30
4     화사    마마무      RBW  여자 1995-07-23  162   A   7650928   1995     7    23
5     정국  방탄소년단      빅히트  남자 1997-09-01  178   A   5208335   1997     9     1
6     민현   뉴이스트     플레디스  남자 1995-08-09  182   O   4989792   1995     8     9
7     소연    아이들       큐브  여자 1998-08-26   -1   B   4668615   1998     8    26
8      진  방탄소년단      빅히트  남자 1992-12-04  179   O   4570308   1992    12     4
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167   A   4036489   1994     3    22
10    태연   소녀시대       SM  여자 1989-03-09   -1   A   3918661   1989     3     9
11   차은우   아스트로     판타지오  남자 1997-03-30  183   B   3506027   1997     3    30
12    백호   뉴이스트     플레디스  남자 1995-07-21  175  AB   3301654   1995     7    21
13    JR   뉴이스트     플레디스  남자 1995-06-08  176   O   3274137   1995     6     8
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174   O   2925442   1993     3     9